.section-bg-color {
    /* background-color: #f3f3f4; */
    background-color: #edf0ff;
}

.sidebar-title-bg {
    background-color: #446dff
}

.dashboard-back-link {
    text-decoration: none;
    color: black;
}

.dashboard-back-link:hover {
    color: #0d6efd;
}